*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#gameCards {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
    justify-content: center;
    gap: 2rem;
}

header{
    background-color: #1a191994;
}

h1{
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    color: #FFFFF7;
}

form{
    margin-top: 1.5rem;
}

textarea{
    border-radius: 6px;
    resize: none;
}